/* style.less */
@error: #b94a48;

html {
height: 100%;
}
body {
position: relative;
min-height: 100%;
padding-bottom: 100px;
}
#footer {
position: absolute;
bottom: 0;
width: 100%;
text-align: center;
}

.form-group {
    label.error {
        color: @error;
    }
}

.logo-primary {
	font-size: 50px;
}
.logo-info {
	color: #5BC0DE;
	font-size: 50px;
}
.logo-success {
	color: #5CB85C;
	font-size: 50px;
}
.logo-danger {
	color: #D9534F;
	font-size: 50px;
}
.logo-warning {
	color: #F0AD4E;
	font-size: 50px;
}
.logo-admin {
	color: #000000;
	font-size: 50px;
}

#mainnav {
    .navbar {
        margin-bottom: 0px;
    }

    .navbar-brand {
        font-size: 32px;
    }

    .caes-logo {
         height: 50px;
         width: 50px;
    }

}

#nav {	
	.nav-tabs{
		margin-bottom: 30px;
    }
}

#horizontalnav {
    .actions {
        margin-top: 2em;
        margin-bottom: 2em;
    }
}

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set rules to fill background */
  min-width: 100%;
  min-height: 100%;
}
